.header{
  background-color: #addfad;
  padding: 20px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  color: white;
}

#navbar {
  overflow: hidden;
  background-color: #afdeee;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

#navbar a:hover {
  background-color: #c5edfa;
  color: black;
}

/*
#navbar a.active {
  background-color: #4CAF50;
  color: white;
}
*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.column {
  float: left;
  padding: 10px;
}

.left, .right {
  width: 25%;
}

.middle{
  width:50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: rgb(255,255,224);
}

h2{
  font-family: 'Dancing Script', cursive;
  font-size: 34px;
  color: #addfad;
}

p{
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

ul{
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}
