.header{
  background-color: rgb(250, 250, 184);
  padding: 20px;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: rgb(243,243, 134);
}

.topnav a {
  float: left;
  display: block;
  background-color: rgb(243, 243, 134);
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*--------Column-------*/
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
/*--------Column-------*/
